<style>
  .content {
    /* max-width: 600px; */
    margin: auto;
    margin-top: 40px;
  }
  </style>
  <body>
  <div class="content">
      <h1>Welcome</h1>
      <p> 
        <!-- style="width:620px;"> -->
       I am Hao Liu, a Machine Learning Engineer specialized in Computer Vision at <a href="https://navya.tech/en/"> Navya</a> since October 2019. With three years of industry experience in computer vision problems applied in autonomous driving, I am interested in Object detection, Semantic segmentation, Multi-object tracking, State estimation, Sensor fusion, Simultaneous localization and mapping.
      </p>

      <br>
      <div id="table-of-contents">
        <h2>Table of Contents</h2>
        <div id="text-table-of-contents">
        <ul>
        <!-- <li><a href="#posts">Posts</a></li> -->
        <li><a href="#publication">Publication</a></li>
        <li><a href="#work">Recent Work</a></li>
        <li><a href="#contact">Contact</a></li>
        </ul>
        </div>
        </div>

        <br>
        <div id="outline-container-orgd58b0f6" class="outline-2">
        <h2 id="publication">Publication</h2>
        <div class="outline-text-2" id="text-orgd58b0f6">
        <p>
          &#x2022; Monocular 3D Object Detection using Data Augmentation and Self-Supervised Learning in Autonomous Driving. 
          <br> <em>Journal of Electronic Imaging</em>, 2022  [<a href="http://dx.doi.org/10.1117/1.JEI.32.1.011004">pdf</a>]
        </p>

        <p>
          &#x2022; Self-Supervised 3D Monocular Object Detection by Recycling Bounding Boxes.
          <br> <em>ICCV Workshop</em>, 2021 [<a href="https://sslad2021.github.io/files/17.pdf">pdf</a>]
        </p>

        <p>
          &#x2022; Real-Time Multi-Task Learning for Autonomous Driving.
          <br> <em>Master's Thesis</em>, 2019 [<a href="">pdf</a>]
        </p>


        <p>
          &#x2022; Review of Explicit Inductive Bias for Transfer Learning with Convolutional Networks. 
          <br> <em>Paper review</em>, 2019 [<a href="https://drive.google.com/file/d/1bDf9tSKLDgd8cgj5GeOuuW7J9ujsXoaD/view">pdf</a>]
        </p>

        </div>
        </div>

        <br>
        <div id="outline-container-orgc54df50" class="outline-2">
        <h2 id="work">Recent Work</h2>
        <div class="outline-text-2" id="text-orgc54df50">
          <p>
            &#x2022; Navya Camera Perception Dataset Creation (NODA).
            <br> <em>Navya</em>, 2021 
            <!-- [<a class="post-link" href="machinelearning/computervision/2022/02/08/Second-test-post.html">post</a>] -->
          </p>

          <p>
            &#x2022; Real-Time Multi-Task Learning for Autonomous Driving.
            <br> <em>Navya</em>, 2019 [<a href="https://drive.google.com/file/d/1SF9ryLIox_vylzMpI8Ao66VAGANHwaRS/view?usp=sharing">slides</a>]
          </p>
          <p>
            &#x2022; Mars Crater Detection and Classification.
            <br> <em>Paris-Saclay Center for Data Science</em>, 2018 [<a href="https://drive.google.com/file/d/1WLGqoP5LX1ZqFcVizkHfZovZAooF9it4/view?usp=sharing">slides</a>]
          </p>
          <p>
            &#x2022; Recognition of Natural Landscape Images. 
            <br> <em>Project report</em>, 2018 [<a href="https://drive.google.com/file/d/16ZmqEkOdOmRXLUTcWpQyw5TWXzLvhJ8b/view?usp=sharing">pdf</a>]
          </p>
        </div>
        </div>
        
        <br>
        <div id="outline-container-orgbc2ddb7" class="outline-2">
        <h2 id="contact">Contact</h2>
            <tr>
              <td height="55" style="font-family:Helvetica, Arial, sans-serif; font-size:18px; font-style:bold;">
                <strong>Hao Liu</strong>
                <br>
                <em style="font-size:17px; font-weight:400;">Machine Learning Engineer</em>
              </td>
            </tr>
            <tr>
              <p><td height="35" style="font-family:Helvetica, Arial, sans-serif; font-size:16px; color:#4d4d4e;">
                7 Place de la Défense | Courbevoie, Hauts-de-Seine, 92400, France
              </td></p>
            </tr>
        </div>
  </div>
 
  </body>